[submodule "Libraries/Facebook"]
    path = Libraries/Facebook
    url = https://github.com/facebook/facebook-ios-sdk
[submodule "Libraries/DejalActivityView"]
	path = Libraries/DejalActivityView
	url = git://github.com/Dejal/DejalActivityView.git
[submodule "Submodules/ShareKit"]
	path = Submodules/ShareKit
	url = git://github.com/ShareKit/ShareKit.git
